@font-face {
  font-family: "DarkCastle";
  src: url(fonts/Darkcastle.otf) format(woff2);
  font-weight: normal;
}

:root {
  background-color: black;
  color: white;
  background-image: url("images/reiascii.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.iam {
  text-align: center;
  margin: 15px;
}

.alpwrk {
  font-family: DarkCastle;
  font-size: 22px;
}

.banners {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 800px;
}

.overlinks {
  margin-top: 10px;
  margin-bottom: 10px;
}

.coding-projects hr {
  color: rgb(29, 29, 29);
  width: 99%;
}

.project {
  font-size: larger;
}

.project h4 {
  margin-top: -1px;
  margin-bottom: -1px;
}

.project a {
  color: burlywood;
}

.project p {
  margin-top: -1px;
}